nav.navbar.navbar-default
    &.navbar
        border-radius: 0
        margin-bottom: 0
        
        .navbar-nav
            margin-top: 0
            margin-bottom: 0

    .navbar-header
        .navbar-toggle
            border-width: 0
            border-color: transparent
            height: 50px
            margin: 0
            padding-right: 15px

            &:hover, &:focus
                background-color: transparent
