.container-fluid
    section
        h1 Hello.
        p  Want to create a checklist?
        p Click on the button below to get started!
    a.btn.btn-primary.js-create-checklist(href='/checklists/add') Create a Checklist