article.checklist.col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3
    if id
        h1.list-title #{title}
    else
        h1 Create a New List
        input.js-checklist-title.list-title(type='text' name='title' placeholder='Checklist title' value='#{title}')

    ul.list
        each item in list
            li.list-item
                input.item-checkbox(type='checkbox', checked=item.done)
                span.item-title #{item.title}

        li.list-item
            input.item-checkbox.js-new-item-done(type='checkbox')
            input.new-item-title.js-new-item-title(type='text' placeholder='Add item')
            button.btn.btn-sm.js-add-item Add

    unless id
        button.btn.btn-primary.js-save-checklist Save

