article.checklist
    if id
        h1 #{title}
    else
        h1 Create a New List
        input.js-checklist-title(type='text' name='title' placeholder='Checklist title' value='#{title}')

    ul.list
        each item in list
            li.list-item
                input(type='checkbox', checked=item.done)
                !{item.title}

        li.list-item
            input.js-new-item-done(type='checkbox')
            input.js-new-item-title(type='text' placeholder='Add item')
            button.btn.js-add-item Add

    unless id
        button.btn.btn-primary.js-save-checklist Save

